.contacts-table {
  width: 100%;
}

.mat-column-name {
  border-right: 1px solid currentColor;
}

.mat-column-phone {
  padding-left: 16px;
  font-size: 18px;
}

.edit-cols {
  opacity: .4;

  &:hover {
    opacity: 1;
    transform: scale(1.25);
  }
}
